<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.lin.jiang.app"
          xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:name=".App"
        android:configChanges="keyboardHidden|orientation"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".coordinator.CoordinatorWithAppBarActivity"
            android:label="@string/title_activity_coordinator_with_app_bar"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".seek.SeekImageActivity">
        </activity>
        <activity
            android:name=".danmaku.DanmakuActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity android:name=".expandable.ExpandableTextViewActivity">
        </activity>
        <activity android:name=".aidl.AidlActivity">
        </activity>
        <activity android:name=".constraint.ConstraintLayoutActivity">
        </activity>
        <activity
            android:name=".constraint.ConstraintAdvancedActivity"
            android:label="@string/title_activity_constraint_advanced"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".coordinator.CoordinatorLayoutActivity"
            android:label="@string/title_activity_coordinator_layout">
        </activity>
        <activity
            android:name=".autocreated.BasicActivity"
            android:label="@string/title_activity_basic"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".autocreated.TabbedActivity"
            android:label="@string/title_activity_tabbed"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".autocreated.SettingsActivity"
            android:label="@string/title_activity_settings">
        </activity>
        <activity
            android:name=".autocreated.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".autocreated.NavigationDrawerActivity"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".autocreated.FragmentWithViewModelActivity">
        </activity>
        <activity
            android:name=".autocreated.LoginActivity"
            android:label="@string/title_activity_login">
        </activity>
        <activity
            android:name=".autocreated.FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen"
            android:theme="@style/FullscreenTheme">
        </activity>
        <activity
            android:name=".autocreated.BottomNavigationActivity"
            android:label="@string/title_activity_bottom_navigation">
        </activity> <!-- service -->
        <service
            android:name=".aidl.BookManagerService"
            android:enabled="true"
            android:exported="false"
            android:process=":BookManagerService">
        </service>
        <service
            android:name=".aidl.BookIntentService"
            android:exported="false"
            android:process=":BookIntentService">
        </service>
    </application>

</manifest>