<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.lin.jiang.app"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".App"
        android:configChanges="keyboardHidden|orientation"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".seek.SeekImageActivity">
        </activity>
        <activity android:name=".constraints.ConstraintsLayoutActivity">
        </activity>
        <activity
            android:name=".danmaku.DanmakuActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity android:name=".constraints.TestConstraintsActivity">
        </activity>
        <activity android:name=".expandable.ExpandableTextViewActivity">
        </activity>
        <activity android:name=".view.DrawActivity">
        </activity>

        <service
            android:name=".aidl.BookManagerService"
            android:enabled="true"
            android:exported="false"
            android:process=":BookManagerService">
        </service>

        <activity android:name=".aidl.AidlActivity">
        </activity>

        <service
            android:name=".aidl.BookIntentService"
            android:exported="false"
            android:process=":BookIntentService">
        </service>
    </application>

</manifest>